p{
    background-color: rebeccapurple;
    font-size: 20px;
    color: red;
}
.p1{
    font-family: 隶书;
}
body{
    /*background-color: blue;*/
    /*background-image: url("../image/wumingnvlang.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;!*scroll*!*/
    /*background-position: 10px 20px;*/
    background:black url("../image/wumingnvlang.jpg") no-repeat fixed 20px 30px ;
}
<!--
/*font-family设置字体属性*/
/*font-size用来设置字体的大小*/
/*font-weight用来设置字体的加粗*/
/*font-style用来设置字体的样式*/
/*color设置文字颜色*/
-->